<p class="egg-text">Newbies and seasoned chefs alike, create a recipe or view your saved ones.</p>
<div class="lead">
  <form id="get-recipes-form">
    <input class="btn btn-butter" type="submit" value="Recipes">
  </form>
</div>
