@import '~bootstrap/scss/bootstrap';

$clean: #a7d2cb;
$butter: #f2d388;
$salmon: #c98474;
$eggplant: #874c62;

body {
  background-blend-mode: lighten;
  background-color: rgba(255, 255, 255, .4);
  background-image: url('public/food-background-2.jpg');
  background-size: 115%;
}

// .btn-create, get, update, recipe-form
.btn-butter {
  background-color: $butter;
}

.btn-custom {
  background-color: inherit;
  font-family: inherit;
  font-size: 100%;
}

.btn-main {
  background-color: $clean;
}

.btn-rmv {
  background-color: $salmon;
}

.btn-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.butter-background {
  background-color: $butter;
}

.card-body-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-footer {
  display: flex;
  font-size: .75em;
  justify-content: flex-end;
  margin-top: -4px;
}

.card-true-footer {
  display: flex;
  justify-content: space-around;
}

.content-flex {
  align-items: center;
  flex-direction: column;
  margin-top: 2em;
}

.crud-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 54rem;
}

.dropdown-item {
  color: $eggplant;
}

.dropdown-menu {
  left: auto;
  right: 0;
}

.dropdown-toggle {
  background-color: $butter;
  border: 3px solid $salmon;
  color: $eggplant;
}

.egg-text {
  color: $eggplant;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: .25em 0;
}

.form-wrapper {
  margin: 2em auto;
}

.list-p {
  color: blue;
  cursor: pointer;
  margin-top: -.5em;
  text-decoration: underline;
}

.list-title {
  margin: 1em .5em;
}

.jumbotron {
  background-color: $clean;
  border: 5px solid $butter;
}

main {
  margin: 0 20%;
}

.navbar {
  background-color: $clean;
  margin-bottom: 10px;
}

.navbar-brand {
  color: $eggplant !important;
}

.recipe {
  height: 16rem;
  width: 18rem;
}

.recipe-indv {
  width: 24rem;
}

@media (max-width: 991px) {
  .crud-content {
    flex-direction: column;
    width: 100vw;
  }

  .display-4 {
    font-size: 32px;
  }

  .lead {
    font-size: 18px;
  }

  .recipe {
    margin: 1rem 0;
    width: 80%;
  }
}

@media (max-width: 769px) {
  .display-4 {
    font-size: 24px;
  }

  .lead {
    font-size: 14px;
  }

  p {
    font-size: 14px;
  }

  .recipe-indv {
    width: 90%;
  }
}
