@import '~bootstrap/scss/bootstrap';

.btn-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.card-body-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-footer {
  display: flex;
  font-size: .75em;
  justify-content: flex-end;
  margin-top: -4px;
}

.card-true-footer {
  display: flex;
  justify-content: space-around;
}

.content-flex {
  align-items: center;
  flex-direction: column;
}

.crud-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.form-wrapper {
  margin: 2em auto;
}

.list-p {
  color: blue;
  cursor: pointer;
  margin-top: -.5em;
  text-decoration: underline;
}

.list-title {
  margin: 1em .5em;
}

main {
  margin: 0 20%;
}

.navbar {
  margin-bottom: 10px;
}

.recipe {
  height: 16rem;
  width: 18rem;
}

.recipe-indv {
  width: 24rem;
}

@media (max-width: 991px) {
  .crud-content {
    flex-direction: column;
  }

  .recipe {
    margin: 1rem 20%;
    width: 50%;
  }
}

@media (max-width: 769px) {
  .recipe-indv {
    margin: 1rem 20%;
    width: 50%;
  }
}
